/* CORES DO MODO DALTONISMO */
.modo-daltonismo-caixa.DPTT {
  background-color: #0000FF;
}

.modo-daltonismo-caixa .btn-voltar.DPTT {
  color: #FFA500;
}
/*  */
.modo-daltonismo-caixa.M {
  background-color: #00BFFF;
}

.modo-daltonismo-caixa .btn-voltar.M {
  color: #00008B;
}
/*  */
.modo-daltonismo-caixa.PD {
  background-color: #008000;
}

.modo-daltonismo-caixa .btn-voltar.PD {
  color: #FF69B4;
}
/*  */
.modo-daltonismo-caixa.A {
  background-color: #000;
}

.modo-daltonismo-caixa .btn-voltar.A {
  color: #fff;
}

/* COMEÇANDO O CSS DA PÁGINA */
.caixa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: #0000003f;
  z-index: 10;
}

.input-tipoDaltonismo {
  appearance: none;
  position: relative;
  width: 6rem;
  height: 3.3rem;
  border-radius: 5rem;
  background-color: #fff;
  cursor: pointer;
}

.container-btn-reset {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.modo-daltonismo-btn-reset {
  color: #fff;
  font-size: 2rem;
}

.caixa .conteudo-caixa {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.modo-daltonismo-caixa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #658955;
  padding: 7rem;
  border-radius: 3.6rem;
  position: relative;
}

.modo-daltonismo-caixa .btn-voltar {
  position: absolute;
  top: 3rem;
  left: 4rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: #c3b107;
  cursor: pointer;
}

.modo-daltonismo-caixa .btn-voltar:hover {
  text-decoration: underline;
}

.modo-daltonismo-caixa .escolhas-modo-daltonismo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4.3rem;
  width: 75rem;
}

.tipos-daltonismo .cores-alternador {
  display: flex;
  align-items: center;
  gap: 3rem;
}

@media (min-width: 1920px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .modo-daltonismo-caixa {
    border-radius: 2rem;
    position: relative;
    padding: 3rem 10rem;
  }

  .modo-daltonismo-caixa .btn-voltar {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar:hover {
    text-decoration: underline;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 40rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .modo-daltonismo-caixa {
    border-radius: 2rem;
    position: relative;
    padding: 3rem 10rem;
  }

  .modo-daltonismo-caixa .btn-voltar {
    position: absolute;
    top: 1rem;
    left: 2rem;
    font-size: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar:hover {
    text-decoration: underline;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2.3rem;
    margin-top: 1rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 40rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .modo-daltonismo-caixa {
    border-radius: 2rem;
    position: relative;
    padding: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar {
    position: absolute;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar:hover {
    text-decoration: underline;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    margin-top: 3rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 40rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .modo-daltonismo-caixa {
    border-radius: 2rem;
    position: relative;
    padding: 1rem;
    height: 90vh;
  }

  .modo-daltonismo-caixa .btn-voltar {
    position: absolute;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #c3b107;
    cursor: pointer;
    font-size: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar:hover {
    text-decoration: underline;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    margin-top: 2rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 28rem;
    height: 100%;
    overflow-y: auto;
  }
}
@media (max-width: 480px) {
  .modo-daltonismo-caixa {
    border-radius: 2rem;
    position: relative;
    padding: 1rem;
    height: 90vh;
  }

  .modo-daltonismo-caixa .btn-voltar {
    position: absolute;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    color: #c3b107;
    cursor: pointer;
    font-size: 2rem;
  }

  .modo-daltonismo-caixa .btn-voltar:hover {
    text-decoration: underline;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .titulo-escolha {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
    margin-top: 2rem;
  }

  .modo-daltonismo-caixa .escolhas-modo-daltonismo .tipos-daltonismo {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 28rem;
    height: auto;
    overflow-y: auto;
  }
}
