/* CORES DO MODO DALTONISMO */
.input-login.DPTT {
  border: 1px solid #FFA500;
}

.button_login.DPTT {
  background-color: #0000FF;
}

.link_login_password.DPTT,
.link_creat_cont.DPTT,
li.DPTT,
.title_form.DPTT,
.label_login.DPTT {
  color: #0000FF;
}
/*  */
.input-login.M {
  border: 1px solid #00BFFF;
}

.button_login.M {
  background-color: #00008B;
}

.link_login_password.M,
.link_creat_cont.M,
li.M,
.title_form.M,
.label_login.M {
  color: #00008B;
}
/*  */
.input-login.PD {
  border: 1px solid #FF69B4;
}

.button_login.PD {
  background-color: #FF69B4;
}

.link_login_password.PD,
.link_creat_cont.PD,
li.PD,
.title_form.PD,
.label_login.PD {
  color: #FF69B4;
}
/*  */
.input-login.A {
  border: 1px solid #000;
}

.button_login.A {
  background-color: #000;
}

.link_login_password.A,
.link_creat_cont.A,
li.A,
.title_form.A,
.label_login.A {
  color: #000;
}

.header_logo.A {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  background: url(../../../img/login/fundo-login-PB.svg) no-repeat;
  background-size: cover;
}



/* COMEÇO DO CSS DA PÁGINA */
.header_logo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  background-image: url("../../../img/login/slide.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.nav_logo {
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.nav_logo,
li {
  display: flex;
  align-items: center;
  list-style: none;
}

li {
  margin: 0px 10px 0px 0px;
  font-size: 2.5rem;
  color: #658955;
  font-weight: 500;
}

li img {
  width: 80%;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.form-login {
  position: relative;
  top: -40px;
  left: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 32rem;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.295);
  min-width: 20vw;
}

.title_form {
  color: #658955;
  font-size: 3.5rem;
}

.label_login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  color: #658955;
  font-size: 1.8rem;
}

.input-login {
  display: block;
  border: 1px solid #658955;
  border-radius: 10px;
  padding: 8px;
  width: 25rem;
  margin-top: 10px;
}

.input-login::placeholder {
  text-align: center;
}

.container-links-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link_login_password {
  position: relative;
  font-size: 1.4rem;
  color: #658955;
  text-decoration: none;
}

.link_creat_cont {
  text-align: center;
  font-size: 1.4rem;
  color: #658955;
  text-decoration: none;
}

.button_login {
  margin-top: 50px;
  padding: 1.5rem 6rem;
  font-weight: bold;
  color: #fff;
  background-color: #658955;
  cursor: pointer;
  font-size: 1.6rem;
  border-radius: 25px;
  border: 0;
  margin-bottom: 25px;
}

@media (min-width: 481px) and (max-width: 767px) {
  li {
    color: #fff;
  }

  .container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }

  .form-login {
    top: 0;
    left: 0;
  }
}
@media (max-width: 480px) {
  .nav_logo {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav_logo,
  li {
    display: flex;
    align-items: center;
    list-style: none;
  }

  .nav_logo li {
    text-align: center;
  }

  li {
    color: #fff;
  }

  li img {
    width: 7rem;
  }

  .container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
  }

  .form-login {
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 30rem;
    padding: 30px;
  }

  .title_form {
    color: #658955;
    font-size: 4rem;
  }

  .label_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    color: #658955;
    font-size: 1.3rem;
  }

  .input-login {
    display: block;
    border: 1px solid #2c4757;
    border-radius: 10px;
    padding: 8px;
    width: 25rem;
    margin-top: 10px;
  }

  .input-login::placeholder {
    text-align: center;
  }

  .link_login_password {
    position: relative;
    top: 10px;
    font-size: 1.3rem;
    color: #658955;
    text-decoration: none;
  }

  .link_creat_cont {
    font-size: 1.8rem;
    color: #658955;
    text-decoration: none;
  }

  .button_login {
    margin-top: 50px;
    padding: 1.5rem 6rem;
    font-weight: bold;
    color: #fff;
    background-color: #658955;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 25px;
    border: 0;
    margin-bottom: 50px;
  }
}
