/* CORES DO MODO DALTONISMO */
.title_forms.DPTT,
.paragraph_question.DPTT {
  color: #0000FF;
}

.input_extend.DPTT,
.input_mini.DPTT {
  border: 1px solid #0000FF;
}

.button_salvar.DPTT {
  background-color: #0000FF;
  border: 1px solid #0000FF;
}

.button_salvar:hover.DPTT {
  background-color: #fff;
  color: #0000FF;
}
/*  */
.title_forms.M,
.paragraph_question.M {
  color: #000081;
}

.input_extend.M,
.input_mini.M {
  border: 1px solid #000081;
}

.button_salvar.M {
  background-color: #000081;
  border: 1px solid #000081;
}

.button_salvar:hover.M {
  background-color: #fff;
  color: #000081;
}
/*  */
.title_forms.PD,
.paragraph_question.PD {
  color: #FF69B4;
}

.input_extend.PD,
.input_mini.PD {
  border: 1px solid #FF69B4;
}

.button_salvar.PD {
  background-color: #FF69B4;
  border: 1px solid #FF69B4;
}

.button_salvar:hover.PD {
  background-color: #fff;
  color: #FF69B4;
}
/*  */
.title_forms.A,
.paragraph_question.A {
  color: #000;
}

.input_extend.A,
.input_mini.A {
  border: 1px solid #000;
}

.button_salvar.A {
  background-color: #000;
  border: 1px solid #000;
}

.button_salvar:hover.A {
  background-color: #fff;
  color: #000;
}

.container-formulario.A {
  background: url(../../../img/formulario/fundo-formulario-PB.svg) no-repeat center;
  background-size: cover;
}

/* COMEÇO DO CSS DA PÁGINA */
.container-formulario {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../img/formulario/fundo-formulario.svg) no-repeat center;
  background-size: cover;
  position: relative;
}

.logo-laçoos-formulario {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
}

.forms_laçoos {
  width: 90%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 2rem 0.5rem 0.5rem 2rem;
  padding: 6rem;
  overflow-y: auto;
}

.title {
  display: flex;
  flex: 1;
}

.title_forms {
  font-weight: bold;
  font-size: 4.4rem;
  color: #658955;
}

.question_one,
.question_two,
.question_three,
.question_four,
.question_five,
.question_six,
.question_seven,
.question_eight,
.question_nine,
.question_ten,
.question_eleven,
.question_twelve,
.question_thirteen,
.question_fourteen,
.question_fiveteen,
.question_sixteen,
.question_seventeen,
.question_eighteen,
.question_nineteen,
.question_twenty,
.question_twentyone,
.question_twentytwo,
.question_twentythree,
.question_twentyfour,
.question_twentyfive,
.question_twentysix,
.question_twentyseven,
.button_forms,
.text_question,
.input_question {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 20px;
}

.input_question {
  justify-content: center;
}

.mini {
  justify-content: flex-start;
}

.paragraph_question {
  font-weight: 500;
  color: #658955;
  font-size: 2.1rem;
  width: 60rem;
}

.input_extend {
  width: 30vw;
  height: 4rem;
  border-radius: 2rem;
  padding: 2rem;
  border: 1px solid #658955;
  outline: 0;
  font-size: 1.9rem;
  height: 7rem;
}

.input_mini {
  width: 8vw;
  height: 4rem;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid #658955;
  outline: 0;
  font-size: 1.2rem;
  height: 7rem;
}

::placeholder {
  font-size: 1.9rem;
  font-weight: 500;
  color: #8b8b8b;
}

.button_forms {
  justify-content: center;
  align-items: flex-end;
  margin-top: 60px;
}

.button_salvar {
  width: 16rem;
  height: 4rem;
  border: 0;
  border-radius: 20px;
  background-color: #658955;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  transition: .3s ease-in-out;
  border: 1px solid #658955;
}

.button_salvar:hover {
  background-color: #fff;
  color: #658955;
}
