.container-pacote {
  height: 100vh;
  background: url(../../../img/pacote/fundo-pacote.svg) no-repeat top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.container-pacote .titulo-pacotes {
  font-size: 9rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3.5rem;
}

.container-pacote .pacotes {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container-pacote .pacotes .pacote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 2px solid #658955;
  border-radius: 1.7rem;
  padding: 3.5rem 3rem;
  position: relative;
}

.container-pacote .pacotes .pacote .titulo-pacote {
  font-family: "Roboto", sans-serif;
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

.container-pacote .pacotes .pacote p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #c3b107;
  margin-bottom: 3rem;
}

.container-pacote .pacotes .pacote .lista-pacote {
  height: 15.2rem;
  overflow-y: hidden;
  list-style-type: disc;
}

.container-pacote .pacotes .pacote .lista-pacote li {
  font-size: 2.2rem;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.35);
}

.container-pacote .pacotes .pacote .ver-mais {
  position: absolute;
  font-size: 1.7rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  bottom: 12.2rem;
  right: 3rem;
  cursor: pointer;
}

.container-pacote .pacotes .pacote .btn {
  padding: 1.2rem 5.1rem;
  background-color: #658955;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  border-radius: 2rem;
}

@media (min-width: 1920px) {
  .container-pacote .titulo-pacotes {
    font-size: 7rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-size: 3.5rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 19rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.8rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 2.5rem;
    bottom: 12.2rem;
  }

  .container-pacote .pacotes .pacote .btn {
    margin-top: 10rem;
    font-size: 3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .container-pacote .titulo-pacotes {
    font-size: 7rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-size: 3rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.4rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 15.9rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 2.2rem;
    bottom: 8.3rem;
  }

  .container-pacote .pacotes .pacote .btn {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container-pacote .titulo-pacotes {
    font-size: 6rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-size: 3rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.4rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 15.9rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 2.2rem;
    bottom: 8.3rem;
  }

  .container-pacote .pacotes .pacote .btn {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container-pacote .titulo-pacotes {
    font-size: 5rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-size: 2.7rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.1rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 14.3rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 2rem;
    bottom: 8.3rem;
  }

  .container-pacote .pacotes .pacote .btn {
    margin-top: 5rem;
    font-size: 2.1rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container-pacote .titulo-pacotes {
    font-size: 4rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-size: 2.7rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.1rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 14.3rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 1.9rem;
    bottom: 8rem;
  }

  .container-pacote .pacotes .pacote .btn {
    margin-top: 5rem;
    font-size: 2.1rem;
  }
}
@media (max-width: 480px) {
  .container-pacote .titulo-pacotes {
    font-size: 2.7rem;
    margin-bottom: 3.5rem;
  }

  .container-pacote .pacotes .pacote .titulo-pacote {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
  }

  .container-pacote .pacotes .pacote p {
    font-size: 2rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote {
    height: 13rem;
  }

  .container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 1.5rem;
  }

  .container-pacote .pacotes .pacote .ver-mais {
    font-size: 1.5rem;
    bottom: 8.2rem;
    right: 3rem;
  }

  .container-pacote .pacotes .pacote .btn {
    padding: 1.2rem 4.1rem;
    font-size: 1.6rem;
    margin-top: 6rem;
  }
}
