.container-pacote {
    height: 100vh;
    background: url(../../../img/pacote/fundo-pacotes.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container-pacote .titulo-pacotes {
    font-size: 9rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3.5rem;
}

.container-pacote .pacotes {
    display: flex;
    align-items: center;
    gap: 6.8rem;
}

.container-pacote .pacotes .pacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #658955;
    border-radius: 1.7rem;
    padding: 4.5rem 3.5rem;
    position: relative;
    height: 53.6rem;
    width: 39rem;
}

.container-pacote .pacotes .pacote .titulo-pacote {
    font-family: 'Roboto', sans-serif;
    font-size: 2.7rem;
}

.container-pacote .pacotes .pacote p {
    font-size: 2.5rem;
    font-weight: bold;
    color: #C3B107;
}

.container-pacote .pacotes .pacote .lista-pacote {
    height: 15.2rem;
    overflow-y: hidden;
}

.container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.2rem;
}

.container-pacote .pacotes .pacote .lista-pacote .lista-sem-bola {
    list-style: none;
}

.container-pacote .pacotes .pacote .ver-mais {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    bottom: 12.2rem;
    right: 3rem;
    cursor: pointer;
}

.container-pacote .pacotes .pacote .btn {
    padding: 1.2rem 5.1rem;
    background-color: #658955;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    border-radius: 2rem;
}