.container-carrossel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 4rem 0;
}

.carrossel-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    overflow-y: auto;
}

.carrossel-image::-webkit-scrollbar{
    display: none;
}

.slide-item{
    width: 50rem;
    cursor: pointer;
}

.btn-arrow {
    display: flex;
    padding: 2rem;
    border: none;
    border-radius: 50%;
    background-color: #658955;
    color: #C3B107;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.btn-arrow:hover {
    background-color: #C3B107;
    color: #fff;
}

.arrows {
    font-size: 4rem;
}