.pagamento-inicial {
  display: flex;
  align-items: center;
  height: 100vh;
  background: url(../../../img/pagamento/fundo-pagamento-inicial.svg) no-repeat
    center;
  background-size: cover;
  position: relative;
}

/* SECTION INICIAL */
.pagamento-inicial .logo-reduzida {
  position: absolute;
  top: 3%;
  left: 1.5%;
  z-index: 1;
}

.container-titulo-desc {
  width: 52.2rem;
  color: #fff;
  margin-left: 8rem;
  backdrop-filter: blur(8px);
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 2rem;
}

.text-shadow {
  text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
}

.text-shadow2 {
  text-shadow: 3px 4px 4px rgb(0, 0, 0, 0.25);
}

.container-titulo-desc .h2-pagamento-inicial {
  font-size: 8.5rem;
  font-weight: 500;
  line-height: 90%;
}

.container-titulo-desc .span-pagamento-inicial {
  color: #c3b107;
  font-size: 8.5rem;
  font-weight: 500;
  line-height: 90%;
}

/* CONTAINER ESCOLHAS PACOTES */
.container-escolhas-pacotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.container-titulo-desc .p-pagamento-inicial {
  font-size: 2.7rem;
}

/* CONTAINER PAGAMENTO */

.container-pagamento .titulo-pagamento {
  font-size: 5.5rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.container-pagamento {
  padding: 6.2rem;
  color: #658955;
  margin: 0 auto;
  max-width: 1200px;
}

.container-pagamento .form-pagamento {
  display: flex;
  flex-direction: column;
}

.form-pagamento .nome-titular {
  display: flex;
  flex-direction: column;
}

.form-pagamento .nome-titular .label-pagamento,
.form-pagamento .validade-cvv-dataNascimento .label-pagamento,
.form-pagamento .numeroCartao .label-pagamento,
.form-pagamento .cpf-telefone .label-pagamento {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.form-pagamento .input-pagamento {
  height: 11.3rem;
  border-radius: 1.7rem;
  font-size: 3rem;
  border: 2px solid #658955;
  padding: 3.4rem;
  width: 100%;
}

.form-pagamento .validade-cvv-dataNascimento {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-pagamento .numeroCartao {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.form-pagamento .cpf-telefone {
  margin-top: 3rem;
  display: flex;
  gap: 2.3rem;
}

.form-pagamento .finalizar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.form-pagamento .finalizar .valorFinal {
  color: rgba(0, 0, 0, 0.59);
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.form-pagamento .finalizar .btn-finalizar-pagamento {
  background-color: #658955;
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  border-radius: 2rem;
  padding: 1.7rem 6.4rem;
  border: none;
  cursor: pointer;
  border: 1px solid #658955;
  transition: 0.3s ease-in-out;
}

.form-pagamento .finalizar .btn-finalizar-pagamento:hover {
  background-color: #fff;
  color: #658955;
}

@media (min-width: 1920px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
  /* SECTION INICIAL */
  .pagamento-inicial .logo-reduzida {
    top: 3%;
    left: 3.5%;
  }

  .container-titulo-desc .h2-pagamento-inicial,
  .container-titulo-desc .span-pagamento-inicial {
    font-size: 6.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* SECTION INICIAL */
  .pagamento-inicial .logo-reduzida {
    top: 2%;
    left: 4%;
  }

  .container-titulo-desc .h2-pagamento-inicial,
  .container-titulo-desc .span-pagamento-inicial {
    font-size: 5.5rem;
  }

  /* CONTAINER PAGAMENTO */

  .form-pagamento .nome-titular .label-pagamento,
  .form-pagamento .validade-cvv-dataNascimento .label-pagamento,
  .form-pagamento .numeroCartao .label-pagamento,
  .form-pagamento .cpf-telefone .label-pagamento {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* SECTION INICIAL */
  .pagamento-inicial .logo-reduzida {
    top: 2%;
    left: 4%;
  }

  .container-titulo-desc .h2-pagamento-inicial,
  .container-titulo-desc .span-pagamento-inicial {
    font-size: 5.5rem;
  }

  .container-titulo-desc .p-pagamento-inicial {
    font-size: 2.5rem;
  }

  /* CONTAINER PAGAMENTO */

  .container-pagamento .titulo-pagamento {
    font-size: 4rem;
  }

  .container-pagamento {
    padding: 4.2rem;
  }

  .form-pagamento .nome-titular .label-pagamento,
  .form-pagamento .validade-cvv-dataNascimento .label-pagamento,
  .form-pagamento .numeroCartao .label-pagamento,
  .form-pagamento .cpf-telefone .label-pagamento {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .form-pagamento .input-pagamento {
    height: 5rem;
    font-size: 2.2rem;
  }

  .form-pagamento .validade-cvv-dataNascimento {
    margin-top: 0rem;
  }

  .container-inputs {
    display: flex;
    flex-direction: column;
  }

  .form-pagamento .numeroCartao {
    margin-top: 0rem;
  }

  .form-pagamento .cpf-telefone {
    margin-top: 0rem;
  }

  .form-pagamento .finalizar {
    justify-content: space-between;
  }

  .form-pagamento .finalizar .valorFinal {
    font-size: 2.5rem;
  }

  .form-pagamento .finalizar .btn-finalizar-pagamento {
    font-size: 2.5rem;
    padding: 1.2rem 3rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* SECTION INICIAL */
  .pagamento-inicial .logo-reduzida {
    top: 2%;
    left: 4%;
  }

  .container-titulo-desc {
    margin-left: 0rem;
    margin: 1rem;
  }

  .container-titulo-desc .h2-pagamento-inicial,
  .container-titulo-desc .span-pagamento-inicial {
    font-size: 5.5rem;
  }

  .container-titulo-desc .p-pagamento-inicial {
    font-size: 2.5rem;
  }

  /* CONTAINER PAGAMENTO */

  .container-pagamento .titulo-pagamento {
    font-size: 4rem;
  }

  .container-pagamento {
    padding: 4.2rem;
  }

  .form-pagamento .nome-titular .label-pagamento,
  .form-pagamento .validade-cvv-dataNascimento .label-pagamento,
  .form-pagamento .numeroCartao .label-pagamento,
  .form-pagamento .cpf-telefone .label-pagamento {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .form-pagamento .input-pagamento {
    height: 5rem;
    font-size: 2.2rem;
  }

  .form-pagamento .validade-cvv-dataNascimento {
    margin-top: 0rem;
    flex-direction: column;
    gap: 0rem;
  }

  .container-inputs {
    display: flex;
    flex-direction: column;
  }

  .form-pagamento .numeroCartao {
    margin-top: 0rem;
  }

  .form-pagamento .cpf-telefone {
    margin-top: 0rem;
    flex-direction: column;
    gap: 0rem;
  }

  .form-pagamento .finalizar {
    justify-content: space-between;
  }

  .form-pagamento .finalizar .valorFinal {
    font-size: 2.5rem;
  }

  .form-pagamento .finalizar .btn-finalizar-pagamento {
    font-size: 2rem;
    padding: 1.2rem 3rem;
  }
}
@media (max-width: 480px) {
  /* SECTION INICIAL */
  .pagamento-inicial .logo-reduzida {
    top: 2%;
    left: 4%;
  }

  .container-titulo-desc {
    margin-left: 0rem;
    margin: 1rem;
  }

  .container-titulo-desc .h2-pagamento-inicial,
  .container-titulo-desc .span-pagamento-inicial {
    font-size: 4.5rem;
  }

  .container-titulo-desc .p-pagamento-inicial {
    font-size: 2rem;
  }

  /* CONTAINER PAGAMENTO */

  .container-pagamento .titulo-pagamento {
    font-size: 4rem;
  }

  .container-pagamento {
    padding: 4.2rem;
  }

  .form-pagamento .nome-titular .label-pagamento,
  .form-pagamento .validade-cvv-dataNascimento .label-pagamento,
  .form-pagamento .numeroCartao .label-pagamento,
  .form-pagamento .cpf-telefone .label-pagamento {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  .form-pagamento .input-pagamento {
    height: 5rem;
    font-size: 2.2rem;
  }

  .form-pagamento .validade-cvv-dataNascimento {
    margin-top: 0rem;
    flex-direction: column;
    gap: 0rem;
  }

  .container-inputs {
    display: flex;
    flex-direction: column;
  }

  .form-pagamento .numeroCartao {
    margin-top: 0rem;
  }

  .form-pagamento .cpf-telefone {
    margin-top: 0rem;
    flex-direction: column;
    gap: 0rem;
  }

  .form-pagamento .finalizar {
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
  }

  .form-pagamento .finalizar .valorFinal {
    font-size: 2.5rem;
  }

  .form-pagamento .finalizar .btn-finalizar-pagamento {
    font-size: 2.5rem;
    padding: 1.2rem 5rem;
  }
}
