.container-resetar-senha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(../../../img/resetarSenha/fundo-reset-senha.svg) no-repeat top
    left;
  background-size: cover;
  position: relative;
}

.logo-reset-senha {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 10rem;
}

.container_form_reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4rem;
  border-radius: 2rem;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.295);
  min-width: 20vw;
}

.title_form_reset {
  font-family: "Roboto", sans-serif;
  color: #658955;
  font-size: 3rem;
}

.label_new_password_reset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  color: #658955;
  font-size: 1.9rem;
}

.label_new_password_reset:first-of-type {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.label_new_password_reset:nth-of-type(2) {
  margin-top: 0px;
}

.input-reset-senha {
  display: block;
  border: 1px solid #658955;
  border-radius: 1rem;
  padding: 0.8rem;
  width: 28.5rem;
  margin-top: 1rem;
}

.input-reset-senha::placeholder {
  text-align: center;
}

.button_login_reset {
  margin-top: 50px;
  min-width: 13rem;
  padding: 1.2rem 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #658955;
  cursor: pointer;
  font-size: 3rem;
  border-radius: 25px;
  border: 0;
  transition: 0.3s ease-in-out;
  border: 1px solid #658955;
}

.button_login_reset:hover {
  color: #658955;
  background-color: #fff;
}

@media (min-width: 1920px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 481px) and (max-width: 767px) {
  .logo-reset-senha {
    right: 5%;
    top: 3%;
    width: 8rem;
  }
}
@media (max-width: 480px) {
  .logo-reset-senha {
    right: 5%;
    top: 3%;
    width: 8rem;
  }

  .title_form_reset {
    font-size: 2.8rem;
  }

  .label_new_password_reset {
    font-size: 1.6rem;
  }

  .input-reset-senha {
    padding: 0.8rem;
    width: 23rem;
  }

  .button_login_reset {
    font-size: 2.5rem;
  }
}
