/* MODALS */
.pacotes .modal-pago {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.329);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  overflow-y: auto;
}

.pacotes .modal-pago .pacote {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.7rem;
  padding: 3.5rem 3rem;
  position: relative;
  backdrop-filter: blur(30px);
}

.pacotes .pacote .titulo-pacote {
  font-family: "Roboto", sans-serif;
  font-size: 2.7rem;
  color: #fff;
}

.pacotes .pacote .orcamento {
  font-weight: 400;
}

.pacotes .pacote .planejamento {
  font-weight: bold;
}

.pacotes .pacote .orcamento,
.pacotes .pacote .planejamento {
  font-size: 2.5rem;
  color: #fff;
}
.pacotes .modal-pago .lista-pacote li {
  font-size: 2.2rem;
  color: #000;
}

.pacotes .modal-pago .lista-pacote li .icone {
  color: #fff;
  margin-right: 0.5rem;
}

.pacotes .modal-pago .pacote .btn {
  margin-top: 3.3rem;
  padding: 1.2rem 5.1rem;
  background-color: #658955;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 300;
  border-radius: 2rem;
}

.pacotes .modal-pago .pacote .lista-pacote {
  overflow-y: auto;
  height: auto;
}

.pacotes .modal-pago .btn-modal {
  color: #658955;
  font-size: 2.5rem;
  font-weight: bold;
  border-radius: 2rem;
  position: absolute;
  right: 1rem;
  top: 0.2rem;
  cursor: pointer;
}

@media (min-width: 1920px) {
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .pacotes .modal-pago .pacote {
    overflow-y: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .pacotes .modal-pago .pacote {
    height: 80%;
    width: 30rem;
  }

  .pacotes .pacote .titulo-pacote {
    font-size: 2.2rem;
  }

  .pacotes .pacote .orcamento {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .pacotes .pacote .planejamento {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .pacotes .modal-pago .lista-pacote li {
    font-size: 1.6rem;
  }

  .pacotes .modal-pago .pacote .btn {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .pacotes .modal-pago .pacote {
    height: 80%;
    width: 30rem;
  }

  .pacotes .pacote .titulo-pacote {
    font-size: 2.2rem;
  }

  .pacotes .pacote .orcamento {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .pacotes .pacote .planejamento {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .pacotes .modal-pago .lista-pacote li {
    font-size: 1.6rem;
  }

  .pacotes .modal-pago .pacote .btn {
    font-size: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .pacotes .modal-pago .pacote {
    height: 80%;
    width: auto;
  }

  .pacotes .pacote .titulo-pacote {
    font-size: 3rem;
  }

  .pacotes .pacote .orcamento {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .pacotes .pacote .planejamento {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .pacotes .modal-pago .lista-pacote li {
    font-size: 2.3rem;
  }

  .pacotes .modal-pago .pacote .btn {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .pacotes .modal-pago .pacote {
    height: 80%;
    width: 30rem;
  }

  .pacotes .pacote .titulo-pacote {
    font-size: 2.2rem;
  }

  .pacotes .pacote .orcamento {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .pacotes .pacote .planejamento {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  .pacotes .pacote .lista-pacote {
    height: 13rem;
  }

  .pacotes .modal-pago .lista-pacote li {
    font-size: 1.6rem;
  }

  .pacotes .modal-pago .pacote .btn {
    font-size: 2rem;
  }
}

@media (min-height: 860px) and (max-height: 900px){
  .pacotes .modal-pago .lista-pacote li {
    font-size: 2.2rem;
  }

  .pacotes .modal-pago .pacote {
    height: 80%;
    width: 35rem;
  }
}

@media (min-height: 901px) and (max-height: 1100px){
  .pacotes .modal-pago .lista-pacote li {
    font-size: 2.7rem;
  }

  .pacotes .modal-pago .pacote {
    height: 80%;
    width: 42rem;
  }
}
