/* CORES DO MODO DALTONISMO */
.navbar-d.DPTT .itens-menu li a {
  color: #FFA500;
}

.navbar-d.DPTT .itens-menu .logar .user {
  border: 2px solid #FFA500;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.DPTT {
  background-color: #FFA500;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.DPTT:before {
  background-color: #FFA500;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.DPTT:after {
  background-color: #FFA500;
}
/*  */
.navbar-d.M .itens-menu li a {
  color: #00BFFF;
}

.navbar-d.M .itens-menu .logar .user {
  border: 2px solid #00BFFF;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.M {
  background-color: #00BFFF;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.M:before {
  background-color: #00BFFF;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.M:after {
  background-color: #00BFFF;
}
/*  */
.navbar-d.PD .itens-menu li a {
  color: #FF69B4;
}

.navbar-d.PD .itens-menu .logar .user {
  border: 2px solid #FF69B4;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.PD {
  background-color: #FF69B4;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.PD:before {
  background-color: #FF69B4;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.PD:after {
  background-color: #FF69B4;
}
/*  */
.navbar-d.A .itens-menu li a {
  color: #000;
}

.navbar-d.A .itens-menu .logar .user {
  border: 2px solid #000;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.A {
  background-color: #000;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.A:before {
  background-color: #000;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer.A:after {
  background-color: #000;
}

/* COMEÇO DO CSS DA PÁGINA */
.home-navbar {
  position: relative;
  display: flex;
}

.home-navbar input {
  display: none;
}

.home-navbar label {
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 3;
}


.modal-navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  visibility: hidden;
}

.home-navbar .navbar input:checked ~ .modal-navbar {
  visibility: visible;
}

.home-navbar .navbar .modal-navbar .navbar-e {
  width: 70vw;
  height: 100vh;
  opacity: 0.4;
  background-color: #000;
}
.home-navbar .navbar .modal-navbar .navbar-d {
  background-color: #fff;
  display: flex;
  width: 30vw;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}

.navbar-d .itens-menu {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-top: 3.5rem;
}

.navbar-d .itens-menu .logo-reduzida {
  top: 3%;
  width: 10rem;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
}

.navbar-d .itens-menu .logar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar-d .itens-menu .logar .user {
  border: 2px solid #658955;
  padding: 1rem;
  border-radius: 50%;
  width: 20rem;
  margin: 0 auto;
}

.navbar-d .itens-menu li a {
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #658955;
}

.navbar-d .itens-menu li span {
  text-decoration: none;
  font-size: 2rem;
}

.navbar-d .itens-menu li a:hover {
  text-decoration: underline;
}

.navbar-d .itens-menu li button {
  font-size: 2rem;
  border: none;
  font-weight: 500;
  background-color: transparent;
  color: #658955;
  cursor: pointer;
}

.home-navbar .navbar .menu {
  width: 5.5rem;
  height: 3.6rem;
  cursor: pointer;
}

.home-navbar .navbar .menu .hamburguer {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  display: block;
  position: relative;
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 1.6rem;
}

.home-navbar .navbar .menu .hamburguer:before {
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: -15px;
  border-radius: 10px;
}

.home-navbar .navbar .menu .hamburguer:after {
  background-color: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s ease-in-out;
  bottom: -15px;
  border-radius: 10px;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer {
  transform: rotate(45deg);
  background-color: #658955;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer:before {
  transform: rotate(90deg);
  background-color: #658955;
  top: 0px;
  transition: 0.2s ease-in-out;
}

.home-navbar .navbar input:checked ~ label .menu .hamburguer:after {
  transform: rotate(90deg);
  background-color: #658955;
  bottom: 0px;
  transition: 0.2s ease-in-out;
}

.abrir-modal {
  visibility: visible;
}

@media (min-width: 1920px) {
  .home-navbar .navbar .menu {
    width: 7rem;
    height: 7rem;
  }

  .navbar-d .itens-menu .logo-reduzida {
    top: 2.5%;
    width: 10rem;
  }

  .navbar-d .itens-menu {
    margin-top: 11rem;
  }

  .home-navbar .navbar .modal-navbar .navbar-e {
    width: 80vw;
  }
  .home-navbar .navbar .modal-navbar .navbar-d {
    display: flex;
    width: 20vw;
  }

  .navbar-d .itens-menu li a,
  .navbar-d .itens-menu li span,
  .navbar-d .itens-menu li button {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) and (max-width: 1919px) {
  .home-navbar .navbar .menu {
    width: 6rem;
    height: 6rem;
  }

  .home-navbar .navbar .modal-navbar .navbar-e {
    width: 78vw;
  }
  .home-navbar .navbar .modal-navbar .navbar-d {
    display: flex;
    width: 22vw;
  }

  .navbar-d .itens-menu {
    margin-top: 5rem;
  }

  .navbar-d .itens-menu .logo-reduzida {
    top: 3%;
    width: 8rem;
  }

  .navbar-d .itens-menu .logar .user {
    width: 18rem;
    margin-top: 4rem;
  }

  .navbar-d .itens-menu li a,
  .navbar-d .itens-menu li span,
  .navbar-d .itens-menu li button {
    font-size: 2.4rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-d .itens-menu .logar .user {
    padding: 1.3rem;
  }

  .navbar-d .itens-menu {
    margin-top: 9rem;
  }

  .navbar-d .itens-menu .logo-reduzida {
    width: 8rem;
  }

  .navbar-d .itens-menu li a,
  .navbar-d .itens-menu li span,
  .navbar-d .itens-menu li button {
    font-size: 2.3rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-d .itens-menu .logo-reduzida {
    width: 7rem;
  }

  .navbar-d .itens-menu .logar .user {
    width: 18rem;
    margin-top: 4rem;
  }

  .home-navbar .navbar .modal-navbar .navbar-e {
    width: 65vw;
  }
  .home-navbar .navbar .modal-navbar .navbar-d {
    display: flex;
    width: 35vw;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .home-navbar label {
    top: 2rem;
    right: 2rem;
  }

  .home-navbar .navbar .menu {
    width: 5rem;
    height: 3rem;
  }
  .home-navbar .navbar .modal-navbar .navbar-e {
    width: 55vw;
  }
  .home-navbar .navbar .modal-navbar .navbar-d {
    width: 45vw;
  }

  .navbar-d .itens-menu {
    margin-top: 3rem;
  }

  .navbar-d .itens-menu .logo-reduzida {
    top: 2%;
    width: 7rem;
  }

  .navbar-d .itens-menu .logar .user {
    padding: 1rem;
    width: 14rem;
    margin-top: 4rem;
  }

  .navbar-d .itens-menu li a,
  .navbar-d .itens-menu li span,
  .navbar-d .itens-menu li button {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .home-navbar label {
    top: 2rem;
    right: 2rem;
  }

  .home-navbar .navbar .menu {
    width: 5rem;
    height: 3rem;
  }
  .home-navbar .navbar .modal-navbar .navbar-e {
    width: 40vw;
  }
  .home-navbar .navbar .modal-navbar .navbar-d {
    display: flex;
    width: 60vw;
  }

  .navbar-d .itens-menu {
    margin-top: 3rem;
  }

  .navbar-d .itens-menu .logo-reduzida {
    top: 2.5%;
    width: 7rem;
  }

  .navbar-d .itens-menu .logar .user {
    padding: 1rem;
    width: 14rem;
    margin-top: 4rem;
  }

  .navbar-d .itens-menu li a,
  .navbar-d .itens-menu li span,
  .navbar-d .itens-menu li button {
    font-size: 2rem;
  }
}
