.container-notificacao-logar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-notificacao {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000003f;
    z-index: 10;
}

.container-notificacao .notificacao-logar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: #658955;
    width: 50rem;
    height: 50rem;
    border-radius: 3.6rem;
    color: #fff;
}

.notificacao-logar .titulo {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    width: 36rem;
}

.notificacao-logar .notificacao-paragrafo {
    width: 36.9rem;
}

.link-login {
    color: #fff;
    text-align: center;
    bottom: 9rem;
}

.link-login:hover {
    text-decoration: underline;
}