.container-itemPacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #658955;
}

.container-itemPacote .img-container-itemPacote {
    width: 31rem;
    border: 3px solid #658955;
    border-radius: 3.2rem;
}

.container-itemPacote .h3-itemPacote,
.container-itemPacote .p-itemPacote {
    max-width: 31rem;
    font-size: 2.9rem;
}

/* Classe para esconder elementos visualmente, mas mantê-los acessíveis para leitores de tela */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Estilizando o radio customizado */
.custom-radio {
    display: inline-block;
    width: 20px; /* Ajuste conforme necessário */
    height: 20px; /* Ajuste conforme necessário */
    /* background-color: #fff; Cor de fundo do quadrado */
    border: 2px solid #658955; /* Cor da borda do quadrado */
    cursor: pointer;
}

/* Adicionando um estilo diferente quando o radio está marcado */
.custom-radio + input[type="radio"].radio-quadrado:checked ~ .custom-radio {
    background-color: #658955; /* Cor de fundo do quadrado quando marcado */
}
