.container-servicos-pagamento {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.h2-servicos-pagamento {
  font-size: 4.1rem;
  font-family: "Roboto", sans-serif;
  color: #658955;
  margin-bottom: 4rem;
}

.container-servicos-pagamento .container-pacotes {
  display: flex;
  gap: 10rem;
}

@media (min-width: 1920px) {
}
@media (min-width: 1200px) and (max-width: 1919px) {
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 768px) and (max-width: 991px) {
  .h2-servicos-pagamento {
    font-size: 4.1rem;
    margin-bottom: 4rem;
  }

  .container-servicos-pagamento .container-pacotes {
    flex-direction: column;
    gap: 5rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .h2-servicos-pagamento {
    font-size: 2.9rem;
    margin-bottom: 4rem;
  }

  .container-servicos-pagamento .container-pacotes {
    flex-direction: column;
    gap: 5rem;
  }
}
@media (max-width: 480px) {
  .h2-servicos-pagamento {
    font-size: 2.1rem;
    margin-bottom: 4rem;
  }

  .container-servicos-pagamento .container-pacotes {
    flex-direction: column;
    gap: 5rem;
  }
}
