.container-acessibilidade {
    height: 100vh;
    position: absolute;
    right: 3.26rem;
    bottom: 10rem;
    width: 5.6rem;
    height: 5.6rem;
}

svg {
    font-size: 5.6rem;
    color: #658955;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}